/* force the main to take up 80 percent of the viewport height. */
main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

.project-card {
  width: 100%;
  height: 300px; /* Set the desired height */
  overflow: hidden; /* Hide overflow content */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  text-align: center; /* Center text */
}

.project-card .description {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center; /* Center text */
}

.bio {
  text-indent: 2rem;
}

.bioheader {
  margin-top: 2rem;
}
